body {
	background: #2980b9;
	color: white;
}


#map {
    width: 100%;
    height: 100vh;
    top:0;
    bottom: 0;
}

.section-nav {
}

.site-header {
	border-bottom: 5px solid #3498db;
	margin-bottom: 2em;
	background: #0f4696;
}

.main-nav {
	list-style: none;
	padding: 0;
	padding-bottom: 2em;
}

.main-nav-item {
	font-size: 1.2em;
	line-height: 2em;
	padding-left: 20px;
	border-bottom: 1px solid #3498db;
}

.main-nav-item:hover {
	background: #2f97dc;
	cursor: pointer;
}

.section-content {
	padding: 0;
}

.info-content {
	color: black;
}

.info-content p {
	margin-top: 1.5em;
}
