body {
	background: #2980b9;
	color: white;
}


#map {
    width: 100%;
    height: 75vh;
    top:0;
    bottom: 0;
}

.section-nav {
}

.site-header {
	margin-bottom: 2em;
	border-bottom: 5px solid #3498db;
    padding: 24px 24px 24px 12px;
	background: #0f4696;
}

.main-nav {
	list-style: none;
	padding: 0;
	padding-bottom: 2em;
}

.main-nav-item {
	font-size: 1.2em;
	line-height: 2em;
	padding-left: 20px;
	border-bottom: 1px solid #3498db;
}

.main-nav-item:hover {
	background: #2f97dc;
	cursor: pointer;
}

.info-content {
	color: black;
}

.info-content p {
	margin-top: 1.5em;
}

#ig {
	border-top: 10px solid #98b3db;
	padding: 1em;
	background: #efefef;
	min-height:200px;
	color: black;
}

.ig-div {
	display: inline-block;
	width:20%;
}

.ig-div img{
	width:100%;
}

@media only screen and (min-width: 992px) {
	.section-content {
		padding: 0;
	}

	.ig-div {
		display: inline-block;
		width:10%;
	}

}